/* 기본값 여백 제거 */
*{padding: 0px; margin: 0px;}
/* 링크 기본값 제거 */
a {text-decoration: none; color: black;}
a:hover {color: orange;}

@font-face {
    font-family: 'Yeongdo-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/Yeongdo-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.header_logo{
	font-size: 30px;
}

*{font-family: "Yeongdo-Rg";}

.carousel-item img{
	width: 100%;
}
.item .title{
	
	font-size: 18px;
	
}
.item .content{
	
	font-size: 12px;
	margin-bottom: 50px;
	
}
.item .price1{
	
	color: gray;
	text-decoration: line-through;
	
}
.item .price2{
	
	font-size: 20px;
	
}